.screen{
    background: gray;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
}
.main{
    border: 2px solid white;
    margin: 40px auto;
    padding: 10px;
}
body{
    background-color: dimgray
}
#screen_1{
    text-align: right;
    width:98%;
    font-size: 30px;
}
.btn{
    margin:2px 0px;
}